@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

html{
  --box-shadow: 0 0 20px #0000001c;
  --transition: all ease-in-out 0.3s;
}
html[data-theme="dark"]{
  --element-bg : hsl(209, 23%, 22%);      /* (Dark Mode Elements) */
  --main-bg: hsl(207, 26%, 17%);          /* (Dark Mode Background) */
  --text-color: hsl(0, 0%, 100%);            /* (Dark Mode Text & Light Mode Elements) */
}
html[data-theme="light"]{
  --element-bg : hsl(0, 0%, 100%);        /* Light Mode Elements) */
  --text-color:hsl(200, 15%, 8%);         /* (Light Mode Text) */
  --text-input: hsl(0, 0%, 52%);          /* (Light Mode Input) */
  --main-bg:hsl(0, 0%, 98%);              /* (Light Mode Background) */
}
*{
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

body{
  transition: var(--transition);
  background-color:var(--main-bg)
}

.container {
  max-width: 1140px;
  margin: auto;
}